<style>
	table {
  border:1px solid #2E86C1;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout:auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color:  #C1E1F5  ;
}

thead{
text-align:center;
}
button{
cursor: pointer;
padding: 15px 40px;
display: inline-block;
text-align:center;
background-color:#099AF7;

 color: white;
}
.len
{
	width: 70%;
	margin-left: 15%;
}
#img
{
	background-image: url('C:\Users\Bobde\Desktop\Assignment\Angular\src\assets\stock3.jpg');
  
}

</style>
<div class="len" >
<table>
	<tr>
		<th>Symbol</th>
		<th>Marketcap</th>
		<th>Current Price</th>
		 <th>Quantity</th>
		 <!-- <th></th> -->
	</tr>
	<tr *ngFor="let  comp of company">
	  <td>{{ comp.symbol }}</td>
	  <td>{{ comp.MarketCap}}</td>
	  <td>{{comp.CurrentPrice}}</td>
	  <td>{{comp.quantity}}</td>
	  <!-- <td><button type="button"  >Save Stocks</button>  </td> -->
	
	</tr>
  </table>
</div>